doctype html
html 
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="shortcut icon", href="/img/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        title Expense-Tracker | forget password 
        style. 
            #forget_password_buttom {
                color: white;
                background: green;
                padding: 8px;
            }

    body 
        form.forget_password-form 
            label(for='forget_password_email') Enter Email 
            input#forget_password_email(type='email', placeholder='you@email.com', required)
            button#forget_password_btn Proceed
        .status-msg Please enter the registered email
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.9.0/axios.min.js")
        script(src='/js/passwordforget.mjs', type='module') 

