doctype html
html 
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="shortcut icon", href="/img/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        title Expense-Tracker | reset password 
        style. 
            #reset_password_buttom {
                color: white;
                background: green;
                padding: 8px;
            }

    body 
        form.reset_password-form 
            label(for='reset_password-newPassword') Enter Password 
            input#reset_password-newPassword(type='text', placeholder='enter new Password' minLength=8, required)
            label(for='reset_password-passwordConfirm') Enter Password 
            input#reset_password-passwordConfirm(type='text', placeholder='enter Password Confirm' minLength=8, required)
            button#reset_password_btn Reset
        .status-msg Please enter new Password and Password Confirm
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.9.0/axios.min.js")
        script(src='/js/passwordReset.mjs', type='module') 

